/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5c5fb8;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5c5fb8;
    color: white;
}

/* Modal Content */
/*.modal-content {*/
/*    position: relative;*/
/*    background-color: #fefefe;*/
/*    margin: auto;*/
/*    padding: 0;*/
/*    border: 1px solid #888;*/
/*    width: 80%;*/
/*    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
/*    animation-name: animatetop;*/
/*    animation-duration: 0.4s*/
/*}*/

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

div#filtersMenu{
    padding: 10px;
    margin: 10px;
    display: inline-block
}
div#sentimentFilters{
    padding: 5px;
    margin: 5px;
}
div#ratingFilters{
    padding: 5px;
    margin: 5px;
}
.tooltip{
    z-index:0
}

.btn:hover {
    background: linear-gradient(#152B40, #152B40);
    color: white
}
.main-div{
    background-color: rgba(0,0,0,0.7);
    background-image: url("fashion2.png");
    min-height: 100%;
    width: 100%;

}


.card {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}